includes:
  - phar://phpstan.phar/conf/bleedingEdge.neon
  - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
  level: max
  inferPrivatePropertyTypeFromConstructor: true
  checkMissingIterableValueType: false
  paths:
    - %currentWorkingDirectory%/
  excludes_analyse:
    - %currentWorkingDirectory%/tests/*
    - vendor
    - autoload.php
  bootstrapFiles:
    - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    - core/constants.php
    - core/abstracts/class-init.php
    - core/abstracts/class-post-type.php
    - core/abstracts/class-data.php
    - core/abstracts/class-data-store.php
    - core/abstracts/class-object-query.php
    - core/class-enqueue.php
    - core/class-i18n.php
    - core/class-loader.php
    - core/class-logger.php
    - core/admin/class-menu.php
    - core/admin/class-settings.php
    - core/class-input.php
    - core/class-view.php
    - core/class-data-store-wp.php
    - core/class-datetime.php
    - core/contracts/interface-object-data-store.php
    - includes/class-init.php
    - includes/post_types/class-catalog-post-type.php
    - includes/post_types/class-listing-post-type.php
    - includes/data_stores/class-catalog-data-store-cpt.php
    - includes/queries/class-catalog-query.php
    - includes/class-catalog.php
    - rfd-aucteeno.php